body {
    display: flex;
    width: 900px;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

p {
    margin: 2px;
    border: solid 2px black;
    padding: 5px;
}

p:hover {
    border: solid 2px green;
    background: red;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}