p {
    background: #0D91A1;
    color: #015668;
    width: 150px;
    height: 10px;
    padding: 30px;
    margin: 15px;
    border: 5px solid #7DCE94;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}